
#REWRITE WHEN BROWSER REFRESH 
    RewriteCond %{REQUEST_FILENAME} -s [OR]
    RewriteCond %{REQUEST_FILENAME} -l [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^.*$ - [NC,L]

    RewriteRule ^(.*) /index.html [NC,L]




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:XeRuJy
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE XeRuJy:ERRORPAGEID



