.messageContainer {
  width: 284px;
  height: 200px;
  position: absolute;
  right: 1.5em;
  bottom: -4em;
}

._1kh65 {
  top: 22px;
  position: absolute;
  width: 187px;
  height: auto;
  right: 0.14em;
  color: #d6ad60;
}
.imessage {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
  animation-name: moveMe;
  animation-delay: 4s;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  position: absolute;
  overflow: hidden;
  width: 22em;
  right: -5em;
  bottom: 1em;
  opacity: 0;
}
@keyframes moveMe {
  0% {
    opacity: 0;
  }

  5% {
    bottom: 2.7em;
    opacity: 1;
  }
  6% {
    bottom: 2.5em;
  }
  40% {
    opacity: 1;
    bottom: 2.5em;
  }
  42% {
    opacity: 0;

    bottom: 5em;
  }
  95% {
    bottom: 1em;
  }
}

.imessage p {
  border-radius: 0.5rem;
  line-height: 1.25;
  max-width: 75%;
  padding: 0.5rem 0.875rem;
}

p.from-me {
  /*   align-self: flex-end; */
  background-color: #d6ad60;
  color: #fff;
}
