@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;1,400&display=swap");
@font-face {
  font-family: 'MiddleEarth';
  src: local('MiddleEarth'), url(./fonts/MiddleEarth.ttf) format('truetype');
}
body {
  margin: 0;

  font-family: "Raleway", sans-serif !important;
}

code {
  font-family: "Raleway", sans-serif;
}
